body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #b6d4f9;
}

.logo {
    max-width: 40px;
    max-height: 30px;  
}

.container {
    color: #FF851B;
    display: flex;
    justify-content: space-around;
    background: rgb(13,54,134);
    background: radial-gradient(circle, rgba(13,54,134,1) 24%, rgba(0,122,204,1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0;   
    overflow: hidden;
    box-shadow: 0px 17px 32px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 17px 32px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 17px 32px 0px rgba(0,0,0,0.5);
}

section{
    padding: 20px;
    margin: 20px;
}

.hero {
    text-align: center;
    background: rgb(13,54,134);
    background: radial-gradient(circle, rgba(13,54,134,1) 24%, rgba(0,122,204,1) 100%);
    padding: 50px 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 1px 5px 5px 1px;
    -webkit-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.5);
    text-align: center;
    margin: 20px;
    color: #d1f7d6;
}

a {
    text-decoration: none;
    color: black;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

article {
    background-color: #007acc;
    padding: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 1px 5px 5px 1px;
    -webkit-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.5);

}

.articleImg {
    display: flex;
    float: left;
    width: 120px;
    height: 120px;
    padding: 25px;
    margin: 25px;
    border: 2px solid #ffffff;

}

.linku {
    color: white;
    text-decoration: none;
    float: right
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007ACC;
    color: white;
}